<div *ngIf="viewMode; else editable">
    <div *ngIf="currentInvoice._id">
        <div class="card">
            <h5 class="card-title text-center h5">Invoice Detail</h5>
            <h5 class="card-title text-center fs-6 text-capitalize">
                <b>Ref:</b> {{ currentInvoice._id }}
            </h5>
            <div class="card-body">
                <p class="card-text fs-6 my-0">
                    <strong>State</strong>
                    <span class="float-right"> {{currentInvoice.isPaid?"Canceled":"Pending"}}</span>

                </p>
                <p class="card-text fs-6 my-0">
                    <strong>Tax Total</strong>
                    <span class="float-right"> {{currentInvoice.taxTotal}}</span>
                </p>
                <p class="card-text fs-6 my-0 mb-3">
                    <strong>Price Total</strong>
                    <span class="float-right"> {{currentInvoice.priceTotal}}</span>
                </p>
                <div *ngFor="let item of currentInvoice.items; let i = index">
                    <hr>
                    <p class="card-text text-center my-0">
                        <strong>{{item.name}}</strong>
                    </p>
                    <p class="card-text my-0">
                        <strong>Tax</strong>
                        <span class="float-right"> {{item.tax}}%</span>
                    </p>
                    <p class="card-text my-0">
                        <strong>Price</strong>
                        <span class="float-right"> {{item.price}}</span>
                    </p>
                    <p class="card-text my-0">
                        <strong>Total</strong>
                        <span class="float-right"> {{item.total}}</span>
                    </p>

                </div>

            </div>
            <div class="card-body">
                <a class="btn btn-warning btn-block" routerLink="/invoice/{{ currentInvoice._id }}">
                    Edit
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="!currentInvoice">
        <br />
        <p>Please click on a Invoice...</p>
    </div>
</div>

<div class="pb-3">
    <ng-template #editable>

        <div class="card card-container ">
            <div *ngIf="currentInvoice._id">
                <h5 class="card-title text-center h3">Invoice Edition</h5>
                <h5 class="card-title text-center fs-6 text-capitalize">
                    <b>Ref:</b> {{ currentInvoice.references }}
                </h5>
                <form class="submit-form" #f="ngForm" novalidate>

                    <ul class="list-group">
                        <li class="list-group-item active fs-3">
                            List Items
                        </li>
                        <li class="list-group-item px-4 fs-5" *ngFor="let item of listItems; let i = index">
                            <input class="form-check-input " type="checkbox" [checked]="isCheck(item)" id="{{item._id}}"
                                (click)="checkItem($event,item)">
                            <label class="form-check-label ml-3 " for="{{item._id}}">{{item.name}}</label>
                        </li>
                    </ul>
                    <div class="form-check  form-check-reverse fs-3 mt-3">
                        <label for="isPaid">{{currentInvoice.isPaid?"Canceled":"Pending"}}</label>
                        <input type="checkbox" class="form-check-input ml-2" role="switch" id="isPaid" required
                            [(ngModel)]="currentInvoice.isPaid" name="isPaid" />
                    </div>
                    <div class="form-group mt-5">
                        <button [disabled]="!currentInvoice.items?.length" (click)="updateInvoice()"
                            class="btn btn-success btn-block">Update</button>
                    </div>

                </form>
                <div class="mt-3">
                    <button class="btn btn-danger btn-block" (click)="deleteInvoice()">
                        Delete
                    </button>
                </div>
                <div class="mt-3">
                    <a routerLink="/invoices" class="btn btn-light btn-block">Invoices List</a>
                </div>
                <p>{{ message }}</p>
            </div>

            <div *ngIf="!currentInvoice._id">
                <br />
                <p>Cannot access this Invoice...</p>
            </div>
        </div>

    </ng-template>
</div>